body {
  padding-top: 4.5rem;
  padding-left: 0.5rem;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
.staff-margin {
margin-bottom: 0.4em;
}

a.active {background-color: lightgrey;}
.filledin {font-weight: bold;}
.mission{color:black;}
.quantity {
  color:lightgrey;
  text-align: right;
}
.boldquantity{
  color:black;
  text-align: right;
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: green!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #C8FFC8; 
}